.ClubPageCardSectionContainer {
    // margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  
    &__SlideSection {
      position: relative;
      top: -5rem;
      @include respondAt(915px) {
        top: -2.5rem;
      }
  
      &--slide {
        // width: 100%; 
        display: grid;
        place-items: center;
        overflow: hidden;
        @include respondAt(915px) {
          height: 100%;
        }
        height: 100%;
  
        &--track {
          display: flex;
        }
      }
    }
  }
  
  