.ClubPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: linear-gradient(315deg, #4834d4 0%, #000000 74%);
  margin: 0.5rem 2rem;
  border-radius: 0.5rem;
  //   margin-top: 5rem;
  @include respondAt(915px) {
    // iPhone 12 Pro width: 390px
    flex-direction: column;
    align-items: center;
  }

  &__bluebox {
    // margin-top: 7rem;
    // background-color: #154fff;
    width: 93vw;
    display: flex;
    flex-direction: row;
    height: 25.5vw;
    border-radius: 1rem;
    align-self: center;

    @include respondAt(915px) {
      // iPhone 12 Pro width: 390px
      width: 20rem;
      height: auto;
      flex-direction: column;
    }

    &__left {
      margin-left: 3rem;
      margin-top: 0.8rem;
      //   background-color: #154fff;
      flex-direction: column;
      @include respondAt(915px) {
        margin-left: 1.5rem;
      }
      &--hashtag {
        color: rgb(0, 0, 0);
        font-family: "Neue Haas Grotesk Display Pro", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        background-color: #585f80;
        width: 18rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        border-radius: 0.5rem;

        @include respondAt(915px) {
          // iPhone 12 Pro width: 390px
          font-size: 1rem;
          width: 15rem;
          // margin-left: 1.5rem;
        }
      }

      &--heading {
        margin-top: -0.2rem;
        // background-color: #154fff;
        color: rgba(255, 255, 255, 1);
        font-family: "Neue Haas Grotesk Display Pro", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 43px;
        line-height: 3.5rem;
        // width: 30rem;

        @include respondAt(915px) {
          // iPhone 12 Pro width: 390px
          font-size: 1.8rem;
          width: 28rem;
          margin-left: 0rem;
          width: 20rem;
          margin-bottom: 0.5rem;
          line-height: 2.5rem;
        }
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 60px;

      &--para {
        margin-top: 10rem;
        margin-left: 7rem;
        color: rgba(255, 255, 255, 0.8);
        font-family: "Neue Haas Grotesk Display Pro", sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 1.1rem;
        line-height: 1.5rem;

        @include respondAt(915px) {
          margin-left: 4rem;
          font-size: 1rem;
          align-self: center;
          justify-content: center;
          display: flex;
          margin-top: 0;
          width: 17rem;
        }
      }

      &--searchBar {
        background-color: white;
        width: 30rem;
        margin-left: 7rem;
        height: 2.2rem;
        display: flex;
        // border-radius: 50px;

        @include respondAt(915px) {
          // iPhone 12 Pro width: 390px
          width: 17rem;
          margin-left: 4rem;
          align-self: center;
          margin-top: 1rem;
          margin-bottom: 2.5rem;
        }

        &--text {
          color: rgba(0, 0, 0, 0.6);
          background-color: white;
          align-self: center;
          justify-content: center;
          font-style: normal;
          margin-left: 1rem;
          @include respondAt(915px) {
            margin-left: 10px;
            font-size: 12px;
          }
        }

        svg {
          // Add styles to control the size and color of the search icon
          width: 20px;
          height: 20px;
          fill: white;
          background-color: white;
          margin-left: 18rem;
          margin-top: 0.38rem;
          color: rgba(0, 0, 0, 0.6);

          @include respondAt(915px) {
            // iPhone 12 Pro width: 390px
            margin-left: 7.5rem;
          }
        }
      }
    }
  }
}
