.FooterContainer{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__main{

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #FFFFFF;

        @include respondAt(915px) {
            flex-direction: column;
            align-items: center;
            padding-left: 25px;
        }
        
        &--comp{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: space-evenly;
            align-self: flex-start;

            background-color: #FFFFFF;
            
            &__heading{
                font-family: 'Inter', sans-serif;
                font-weight: bold;
                font-size: 1.3rem;

                @include respondAt(915px) {
                    font-size: 20px;
                }
            }
            
            &__text{
                font-family: 'Roboto', sans-serif;
                font-size: 1rem;

                @include respondAt(915px) {
                    font-size: 15px;
                }
            }

            &__logo{
                width: 150px;
                height: auto;
                margin-top: 25px;

                @include respondAt(915px) {
                    width: 100px;
                }
            }

            &__social{
                margin-right: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 5px;
                margin-bottom: 5px;
                img{
                    width: auto;
                    height:30px;
                }
            }

            &__contact{
                display: flex;
                flex-direction: row;

                &__input{
                    border: 1px solid #000;
                    border-radius: 50px;
                    outline: none;
                    padding: 10px;
                    font-size: 20px;
                    font-family: 'Roboto', sans-serif;

                    @include respondAt(915px) {
                        font-size: 15px;
                        padding: 5px;
                    }
                }

                &__button{
                    border: 1px solid #000;
                    border-radius: 100px;
                    outline: none;
                    font-size: 20px;
                    margin-left: 10px;
                    cursor: pointer;

                    @include respondAt(915px) {
                        font-size: 15px;
                    }

                }
                img{
                    height: 30px;
                    width: 30px;
                    border-radius: 100%;
                }
            }
        }
    }

    &__divider{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #FFFFFF;
        &--line{
            width: 90%;
            height: 0x;
            color: #000;
            border : 1.25px solid #000;
        }

        &--text{
            font-family: 'neue-haas-grotesk-display', sans-serif;
            font-size: 1rem;

            @include respondAt(915px) {
                font-size: 15px;
            }
        }
    }
}