.ClubsAndSocietiesContainer {
    // margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--heading {
      color: white;
      font-family: "Neue Haas Grotesk Display Pro", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 3.5rem;
      @include respondAt(915px)
      {
        font-size: 2rem;
      }
    }
    &--description {
        position: relative;
      color: #cccccd;
      text-align: center;
      font-size: 1rem;
      font-family: " Neue Haas Grotesk Display Pro", sans-serif;
      font-weight: 200;
      top: -4rem;
      width: 50rem;
      @include respondAt(915px)
      {
        font-size: 0.5rem;
        width: 20rem;
        top: -2rem;
      }
    }
    &--image {
        position: relative;
        background: none;
        width: 30rem;
        top: -4.6rem;
        left: 4.3rem;
        @include respondAt(915px)
      {
        // font-size: 0.5rem;
        top: -2.5rem;
        // right: 2rem;
        // left: -0.2rem;
        width: 15rem;
      }
    }
  }

  &__SlideSection {
    position: relative;
    top: -5rem;
    @include respondAt(915px) {
        top: -2.5rem;
    }
      &--slide {
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
        @include respondAt(915px) {
            height: 30rem;
        }
        height: 18rem;
        // &::before , &::after {
        //     background: linear-gradient(270deg, #0E0E12 0%, rgba(14, 14, 18, 0.00) 100%);
        //     content: '';
        //     height:40%;
        //     position: absolute;
        //     width: 5%;
        //     z-index: 2;
        // }
        // &::before {
        //     left: 0rem;
        //     // top: 0;
        // }
    
        // &::after {
        //     right: 0rem;
        //     transform: rotateZ(180deg);
        // }
        &--track {
            display: flex;
            width: calc(250px * 7);
            animation: scroll2 20s linear infinite;
            &:hover {
                animation-play-state: paused;
            }
            &__card {
                margin: 3rem;
                perspective: 100%;
                &:hover {
                    transform: translateZ(1rem);
                }
                &--content {
                    width: 20rem;
                }
            }
        }
      }
      &--slide2 {
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
        @include respondAt(915px) {
            height: 30rem;
        }
        height: 18rem;
        // &::before , &::after {
        //     background: linear-gradient(270deg, #0E0E12 0%, rgba(14, 14, 18, 0.00) 100%);
        //     content: '';
        //     height:40%;
        //     position: absolute;
        //     width: 5%;
        //     z-index: 2;
        // }
        // &::before {
        //     left: 0rem;
        //     // top: 0;
        // }
    
        // &::after {
        //     right: 0rem;
        //     transform: rotateZ(180deg);
        // }
        &--track {
            display: flex;
            width: calc(250px * 7);
            animation: scroll 20s linear infinite;
            &:hover {
                animation-play-state: paused;
            }
            &__card {
                margin: 3rem;
                perspective: 100%;
                &:hover {
                    transform: translateZ(1rem);
                }
                &--content {
                    width: 20rem;
                }
            }
        }
      }
  }

}

@keyframes scroll {
    0% {
        transform: translateX(calc(-250px * 7));
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}


