.HeroSection-EventContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  top: 2rem;
  padding: 3.3rem 2rem;
  color: white;
}

.HeroSection-EventContainer-Hashtag{
  align-self: center;
  margin-top: 7rem;
}

.Hero-Hashtag{
    color: rgba(21, 79, 255, 1);
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: #e7ebfd;
    width: 18rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    text-align: center;
    margin-bottom: -1rem;

    @include respondAt(915px) {
      // iPhone 12 Pro width: 390px
      font-size: 1rem;
      width: 16rem;
      margin-left: 1rem;
    }
}

.HeroSection-mainpara-content{
  color: rgba(255, 255, 255, 1);
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
   margin-bottom: 0rem;
  //font-size: 74.682px;
  @include respondAt(915px) {
    font-size: 1.5rem;
    text-align: center;
  }
}

.HeroSection-mainpara-underline{
  position: relative;
  top: -3.5rem;
  z-index: 1;
  width: 30rem;
  background: none;
  right: 4rem;

  @include respondAt(915px) {
    // display: none;
    width: 8rem;
    top: -6rem;
    left: 2.5rem;
  }
}

.HeroSection-subpara{
  display: flex;
  justify-content: center;
}

.HeroSection-subpara-content{
  color: #ffffff;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 38rem;
  line-height: 120%;
  text-align: center;
  font-size: 1rem;
  //font-size: 27.39px;
  @include respondAt(915px) {
    font-size: 0.7rem;
    text-align: center;
    width: 17rem;
    margin-left: 1rem;
  }
}

.HeroSection-buttonrow{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
}

.HeroSection-buttonrow-btn1{
  //margin: 0px 0px;
  //padding: 18px 14px;
  //display: flow;
  padding-top: 0.5rem;
  padding-right: 1.5rem;
  border: 2px solid black;
  height: 2.5rem;
  width: 12rem;
  text-align: center;
  background: white;
  color: black;
  font-size: 25.528px;
  font-family: Neue Haas Grotesk Display Pro, serif;
  font-weight: 300;
  align-content: center;
}

.HeroSection-buttonrow-btn2{
  padding-top: 0.5rem;
  padding-right: 1.5rem;
  border: 2px solid white;
  height: 2.5rem;
  width: 12rem;
  text-align: center;
  background: none;
  color: white;
  font-size: 25.528px;
  font-family: Neue Haas Grotesk Display Pro, serif;
  font-weight: 300;
  align-content: center;
}

.HeroSection-buttonrow-btn1-icon{
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: 0.5rem;
}

.HeroSection-mainpara-color-element{
  position: relative;
  top: -30.5rem;
  z-index: 1;
  width: 30rem;
  background: none;
  right: -5rem;
  align-self: end;

  @include respondAt(915px) {
    // display: none;
    width: 8rem;
    top: -6rem;
    left: 2.5rem;
  }
}

.HeroSection-mainpara-color-element2{
  position: relative;
  top: -95.5rem;
  z-index: 200;
  width: 30rem;
  background: none;
  right: 5rem;
  align-self: start;

  @include respondAt(915px) {
    // display: none;
    width: 8rem;
    top: -6rem;
    left: 2.5rem;
  }
}